.chessboard{
    /* float: left; */
    width: 679px;
    height: 679px;
    margin-left: 50px;
    margin-right: 50px;
    /* margin: 15px auto; */
}

.column{
    float: left;
    width: 75px;
    height: 75px;
    font-size: 25px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height: 75px;
    color: cornsilk;
}

.row{
    float: left;
    width: 75px;
    height: 75px;
    font-size: 25px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height: 75px;
    color: cornsilk;
}

.dark{
    float: left;
    width: 75px;
    height: 75px;
    background-color: #a98549;
    font-size: 50px;
    display: flex;
    /* text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height: 75px; */
}

.dark img{
    margin: auto;
    width: 70%;
    height: 70%;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.light{
    float: left;
    width: 75px;
    height: 75px;
    background-color: #f0d2b4;
    font-size: 50px;
    display: flex;
    /* text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height: 75px; */
}

.light img{
    margin: auto;
    width: 70%;
    height: 70%;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.row8{
    border-top: 2px solid #333;
}

.row1{
    border-bottom: 2px solid #333;
}

.col1{
    border-left: 2px solid #333;
}

.col8{
    border-right: 2px solid #333;
} 

.fenLabel{
    margin-left: 28px;
    font-weight: bold;
}

.fenInput{
    margin-left: 5px;
    width: 590px;
    height: 30px;

    font-weight: bold;
    text-align: center;
    font-size: medium;
}

.fenContainer{

    text-align: center;
    display: table-cell;
    vertical-align: middle; 
    width: 679px;
    height: 75px;
}