.chessboard{
    width: 679px;
    height: 679px;
    margin: 15px auto;
}

.column{
    float: left;
    width: 75px;
    height: 75px;
    font-size: 25px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height: 75px;
}

.row{
    float: left;
    width: 75px;
    height: 75px;
    font-size: 25px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height: 75px;
}

.dark{
    float: left;
    width: 75px;
    height: 75px;
    background-color: #a98549;
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height: 75px;
}

.light{
    float: left;
    width: 75px;
    height: 75px;
    background-color: #f0d2b4;
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height: 75px;
}

.row8{
    border-top: 2px solid #333;
}

.row1{
    border-bottom: 2px solid #333;
}

.col1{
    border-left: 2px solid #333;
}

.col8{
    border-right: 2px solid #333;
} 