.badgeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;

    background: url(../Images/stars.jpeg) center center no-repeat;
    /* background: url(../Images/webpage-background.jpg) center center no-repeat; */
    background-size: cover;
}

.badge{
    width: 300px;
    min-height: 440px;
    background-color: black;
    box-shadow: 0 2px 20px 0 rgba(236, 233, 233, 0.4);
}

.contributors{
    margin: 0 auto;
    width: 100%;
    float: left;
    text-align: center;
    
}

.badgeCollection{
    margin: 0 auto;
    width: 100%;
    float: left;
}