.badgeContainer{
     /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 50px; 
    height: 700px;
    background: url(../Images/stars.jpeg) center center no-repeat;
    /* background: url(../Images/webpage-background.jpg) center center no-repeat; */
    background-size: cover;
}

.badge{
    width: 300px;
    min-height: 440px;
    background-color: black;
    box-shadow: 0 2px 20px 0 rgba(236, 233, 233, 0.4);
}

.contributors{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    margin: auto;
    width: 100%;
    float: left;
    color: rgba(122, 195, 255, 0.602);
    text-align: center;
}

.badgeCollection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    float: left;
}