body{
    background-color: #edebe9;
}
.card {
    text-align: center;

    background-color: rgba(243, 243, 243, 0.993);

    width: 350px;
    height: 400px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 5px 5px 0 0;
  }

  .startButton{
      width: 250px;
      height: 50px;
      font-size: large;
      font-weight: bold;
      background-color: rgb(50, 173, 50); 
      margin: 20px auto;
      display: auto;
      border-radius: 5px;

    /* click effect */
    cursor: pointer; 
    outline: none; 
    box-shadow: 2px 0px 5px 1px;
    box-shadow:  rgba(126, 125, 125, 0.24); 
  }

  .modifyButton{
    width: 130px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    background-color: rgb(21, 157, 236); 
    margin: 10px auto;
    display: auto;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;

    /* click effect */
    cursor: pointer; 
    outline: none; 
    box-shadow: 2px 0px 5px 1px;
    box-shadow:  rgba(126, 125, 125, 0.24); 
  }

  .startButton:active{ 
    box-shadow: 2px 0px 5px 1px;
    box-shadow:  rgba(126, 125, 125, 0.24); 
    transform: translateY(4px); 
    /* Moving button 4px to y-axis */ 
  }

  .modifyButton:active{ 
    box-shadow: 2px 0px 5px 1px;
    box-shadow:  rgba(126, 125, 125, 0.24); 
    transform: translateY(4px); 
    /* Moving button 4px to y-axis */ 
  }

  .choiceContiner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .choice{
      display: block;
      width: 180px;
      height: 30px;

      font-size: large;
      font-weight: bold;
      margin: 20px auto;
      display: auto;    
  }

  .value{
    font-size: large;
    font-weight: bold;  
  }

  .against{
    font-size: medium;
    font-weight: bold;
  }

  .turn{
    font-size: 20px;
    font-weight: bold;
  }

  .moves{
      display: block;
      width: 300px;
      height: 400px;
      padding: 20px;
      background-color: khaki;
  }
 

  /* Transitions for selece menue ------------------------------------- */