.selectedCellDark{
    background-color: #999966;
    font-size: 70px;
}

.selectedCellLight{
    background-color: #99b857;
    font-size: 70px;
}

.previousMoveDark{
    background-color: #879d3a;
}

.previousMoveLight{
    background-color: #c0db90;
}

.canMoveDark{
    background-color:  #999966;
}

.canMoveLight{
    background-color: #99b857;
}

.canMoveDarkCapture{
    border-radius: 20px;
}

.canMoveLightCapture{
    border-radius: 20px;
}
