.selectedCellDark{
    background-color: #999966;
    /* font-size: 70px; */
}

.selectedCellDark img{
    width: 85%;
    height: 85%;
}

.selectedCellLight{
    background-color: #99b857;
    /* font-size: 70px; */
}

.selectedCellLight img{
    width: 85%;
    height: 85%;
}

/* ----------------------------------------------------------------------- */

.previousMoveDark{
    background-color: #879d3a;
}

.previousMoveLight{
    background-color: #c0db90;
}

/* ----------------------------------------------------------------------- */

.canMoveDark{
    position: relative;
    background-color:  #a98549;
}

.darkMove{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    border-radius: 100px;
    background-color: #3c6b09;
    
}

/* ----------------------------------------------------------------------- */

.canMoveLight{
    position: relative;
    background-color: #f0d2b4;
}

.lightMove{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    border-radius:100px;
    background-color: #758c3f;
}

/* ----------------------------------------------------------------------- */

.canMoveDarkCapture{
    background-color: #c02f1a;
}   

.darkCapture{
    display: flex;
    width: 100%;
    height: 100%;

    border-radius: 30px;
    background-color: #a98549;
}

.darkCapture img{
    margin: auto;
    width: 70%;
    height: 70%;
}

/* ----------------------------------------------------------------------- */

.lightCapture{
    display: flex;
    width: 100%;
    height: 100%;

    border-radius: 30px;
    background-color: #f0d2b4;
}

.darkCapture img{
    margin: auto;
    width: 70%;
    height: 70%;
}

.canMoveLightCapture{
    background-color: #fb812d;
}

/* ----------------------------------------------------------------------- */

.checkDark{
    background-color: #ea6e12;
}

.checkLight{
    background-color: #fb812d;
}